


.spinner{
    width: 5rem;
    height: 5rem;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
  }
  
  .bingo-cell {
    flex: 1;
    border: 1px solid black;
    height: 80px;
  }