


.spinner{
    width: 4.5rem;
    height: 4.5rem;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 20px;
    
    
  }

.bingo-column {
    display: flex;
    flex-direction: column;
  } 

.bingo-row {
    display: block;
    
  }
  
.bingo-cell {
    flex: 1;
    border: 1px solid black;
    height: 80px;
  }

.bingo-header-cell {
    text-align: center;
    font-weight: bold;
  }

  .marked-cell {
    background-color: #aaf2aa; 
  }